* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"), url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat-SemiBold"), url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../assets/fonts/Montserrat-Medium.woff") format("woff"), url("../assets/fonts/Montserrat-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat-SemiBold"), url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("../assets/fonts/Montserrat-SemiBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../assets/fonts/Montserrat-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: local("Montserrat-ExtraBold"), url("../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff"), url("../assets/fonts/Montserrat-ExtraBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: local("Montserrat-ExtraBoldItalic"), url("../assets/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/Montserrat-ExtraBoldItalic.eot") format("eot");
  font-display: swap;
}
.footer__content-text p, .products__filter-btn, .nav__drop, .header__mail-sub {
  font-family: "Montserrat";
  font-weight: 400;
}

.footer__txt-sub, .footer__nav-link, .header__txt-sub {
  font-family: "Montserrat";
  font-weight: 500;
}

.footer__qr-text, .footer__content-text p:nth-child(1) span, .footer__head-title, .social__item-title, .products__item-title, .products__head-title, .popular__item-subtitle, .header__mail-title {
  font-family: "Montserrat";
  font-weight: 600;
}

.footer__txt-title span, .products__item-price, .popular__item-title, .nav__inner-btn, .nav__inner-list, .header__txt-title span {
  font-family: "Montserrat";
  font-weight: 700;
}

.footer__txt-title, .header__txt-title {
  font-family: "Montserrat";
  font-weight: 800;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1168px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-img {
  margin-right: 17px;
}
.header__logo-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__txt-title {
  font-size: 27px;
}
.header__txt-title span {
  color: #178A52;
}
.header__txt-sub {
  font-size: 15px;
  color: #899D91;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(176, 200, 172, 0.4);
  padding: 6px 6px 6px 18px;
  border-radius: 12px;
}
.header__ico-vk {
  margin-right: 15px;
}
.header__ico-telegram {
  margin-right: 15px;
}
.header__ico-inst {
  margin-right: 15px;
}
.header__mail-txt {
  margin-right: 24px;
  margin: auto 24px auto 0;
}
.header__mail-sub {
  font-size: 14px;
  margin-bottom: 4px;
}
.header__mail-title {
  font-size: 16px;
}
/* =================  MENU-NAV =================  */
.nav {
  background-color: #178A52;
}
.nav__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #FFFFFF;
}
.nav__inner-item {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  padding: 20px 19px 20px 19px;
  background-color: #178A52;
}
.nav__inner-item:hover {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  background-color: #165537;
}
.nav__inner-item:first-child {
  position: relative;
  background-color: #165537;
  padding: 20px 30px 20px 30px;
}
.nav__inner-item:first-child button img {
  position: absolute;
  left: -30px;
  top: -2.5px;
}
.nav__inner-btn {
  font-size: 14px;
  color: #FFFFFF;
  background-color: #165537;
  padding: 18px 30px 18px 30px;
}
.nav__inner-btn img {
  margin-right: 13px;
}
.nav__drop {
  font-size: 17px;
  padding: 20px 0 20px 0;
  display: none;
}
.menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #454F49;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drop-cont {
  background-color: #FFFFFF;
}

/* =================  MENU-NAV =================  */
.popular {
  background-color: #E8ECF1;
}
.popular__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  padding: 29px 42px 20px 41px;
  border-radius: 12px;
  border: 2px solid #D8D8D8;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(49, 140, 35, 0.3);
          box-shadow: 0px 0px 6px 2px rgba(49, 140, 35, 0.3);
}
.popular__back {
  padding-top: 18px;
  padding-bottom: 16px;
}
.popular__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popular__item:nth-child(1) h3 span {
  color: #1F57E4;
}
.popular__item:nth-child(2) h3 span {
  color: #11C723;
}
.popular__item:nth-child(3) h3 span {
  color: #FA37AC;
}
.popular__item:nth-child(4) h3 span {
  color: #FF7A00;
}
.popular__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0px 2px rgb(216, 216, 216);
          box-shadow: 0px 0px 0px 2px rgb(216, 216, 216);
  border-radius: 6px;
}
.popular__item-img img {
  height: 100%;
  width: auto;
  border-color: #D8D8D8;
}
.popular__item-title {
  position: relative;
  font-size: 17px;
  margin-top: 17px;
  margin-bottom: 7px;
  margin-left: 23px;
}
.popular__item-title::before {
  content: url(/assets/images/crown.svg);
  position: absolute;
  left: -23px;
  top: -3.25px;
}
.popular__item-subtitle {
  font-size: 14px;
  color: #899D8B;
}

.products__inner {
  padding-top: 38px;
  padding-bottom: 52px;
}
.products__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.products__head-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products__head-img {
  margin-right: 13px;
  padding: 12px;
  background-color: #178A52;
  border-radius: 8px;
}
.products__head-title {
  font-size: 20px;
  color: #000000;
}
.products__filter-btn {
  font-size: 17px;
  padding: 15px 18px;
  background: none;
  border: 1.5px solid #D8D8D8;
  border-radius: 8px;
  margin-right: 7px;
}
.products__filter-btn:last-child {
  color: #178A52;
  border: 1.5px solid #178A52;
  margin-right: 0;
}
.products__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #D8D8D8;
  gap: 2px;
  border: 2px solid #D8D8D8;
  border-radius: 12px;
}
.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 9px;
}
.products__item-img {
  width: 190px;
  height: 190px;
}
.products__item-title {
  font-size: 17px;
  margin-top: 11px;
  margin-bottom: 9px;
}
.products__item-price {
  font-size: 16px;
  color: #177547;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 125px;
  height: 34px;
  border: 1.5px solid #177547;
  border-radius: 44.4px;
}
.products__item-rub {
  margin-left: 20px;
  margin-right: 2px;
}
.products__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.social {
  background-color: #E8ECF1;
  padding: 15px 0;
}
.social__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 274px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.social__item:nth-child(1) h2 span {
  color: #2D64A3;
}
.social__item:nth-child(2) h2 span {
  color: #1FA9E4;
}
.social__item:nth-child(3) h2 span {
  color: #EE5132;
}
.social__item:nth-child(4) {
  background-color: #000000;
}
.social__item:nth-child(4) h2 {
  color: #FFFFFF;
}
.social__item-img {
  padding: 3px;
}
.social__item-title {
  color: #000000;
  padding-right: 43px;
}

.footer {
  background-color: #0E0E0E;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 14px;
}
.footer__nav-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.footer__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav-img {
  margin-right: 10px;
}
.footer__nav-link {
  color: #868686;
  font-size: 16px;
  line-height: 32px;
}
.footer__head-img {
  margin-right: 8px;
}
.footer__head-title {
  color: #FFFFFF;
  font-size: 17px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content-text {
  position: relative;
  text-align: center;
  padding: 15px 15px 13px 15px;
  background-color: #000000;
  margin-top: 25px;
  margin-bottom: 14px;
  border-radius: 8px;
}
.footer__content-text p {
  color: #868686;
  font-size: 15px;
  line-height: 24px;
}
.footer__content-text p:nth-child(1) {
  font-size: 17px;
  color: #FFFFFF;
}
.footer__content-text p:nth-child(1) span {
  font-size: 17px;
}
.footer__content-text::before {
  content: url("/assets/images/icons/block-arrow.svg");
  position: absolute;
  top: -12px;
  left: calc(50% - 18px);
  z-index: 10;
}
.footer__payment {
  margin-right: 8px;
}
.footer__payment:last-child {
  margin-right: 0;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo-img {
  margin-right: 17px;
}
.footer__logo-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__txt-title {
  font-size: 27px;
  color: #FFFFFF;
}
.footer__txt-title span {
  color: #178A52;
}
.footer__txt-sub {
  font-size: 15px;
  color: #FFFFFF;
}
.footer__qr-code {
  margin-bottom: 9px;
}
.footer__qr-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 17px;
  color: #FFFFFF;
}
.footer__qr-text span {
  color: #FF7A00;
}
.footer__qr-text::before {
  content: url("/assets/images/arrow-qr.svg");
  position: absolute;
  left: -87px;
  top: -78px;
}