%fn-regular {
    font-family: "Montserrat";
    font-weight: 400;
}

%fn-medium {
    font-family: "Montserrat";
    font-weight: 500;
}

%fn-semibold {
    font-family: "Montserrat";
    font-weight: 600;
}

%fn-bold {
    font-family: "Montserrat";
    font-weight: 700;
}

%fn-extra {
    font-family: "Montserrat";
    font-weight: 800;
}

%fn-extraitalic {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
}

@mixin trn {
    transition: all ease .6s;
}